<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}  type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- JS -->
    <script src={{ url_for('static', filename='style.js') }} ></script>
    
    <title>Mini CV</title>
</head>

<body class="m-5">
    <h1>Mini CV</h1>
    <div class="container mt-5 mb-3">
        <!-- Baris -->
	<div class="row">		
		<div class="side-cv col-sm-3 p-4">
               		<img src={{ url_for('static', filename='foto.jpeg') }} alt="Foto" >
                	<ul>
                    		<li><i class="bi bi-geo-fill mr-2"></i>Medan, Indonesia</li>
                    		<li><i class="bi bi-envelope mr-2"></i>indahzlbs@gmail.com</li>
                    		<li><i class="bi bi-telephone mr-2"></i>+62 801 2345 6879</li>
                	</ul>
		</div>
		<div class="main-cv col-sm-9 p-5">
			<h2>Indah Zahrani Lubis</h2>
                	<hr>
                	<h4 class="font-weight-light pb-5">Mahasiswi</h4>
			<p class="text-justify">
				Halo, nama saya Indah. Saya merupakan seorang mahasiswi jurusan Teknologi Informasi di Universitas Sumatera Utara.
				Saya suka mempelajari hal-hal baru, terutama terkait perkembangan teknologi. Saya tertarik pada teknologi Kecerdasan Buatan 
                    		(<i>Artificial Intelligence</i>) terutama di bidang <i>Computer Vision</i> dan <i>Natural Language Processing</i>.
                	</p>
		</div>
	</div>
    </div>
</body>
</html>
